@font-face
  font-family: 'Fotaru'
  src: url('fonts/Fotaru.woff') format('woff')

@font-face
  font-family: 'Decibel'
  src: url('fonts/Decibel-Regular.woff') format('woff')

body
  font-family: 'Decibel'
  margin: 0
  padding: 0

header
  background-image: url('img/header_bg.png')
  background-repeat: repeat-x
  background-size: 200px 200px
  img
    height: 200px

section
  margin: 2em 3em

h1, h2
  font-family: 'Fotaru', sans-serif
  text-transform: uppercase
  letter-spacing: 1pt
  color: #5992A5

h1
  font-size: 14pt

a
  color: #A54C0D
  text-decoration: none

a:hover
  color: #F89306
