{% set original_src_name = page.path ~ name -%}
{% if square -%}
  {% set placeholder_img = resize_image(path=(original_src_name ~ "." ~ extension), width=200, height=200) -%}
{% else -%}
  {% set placeholder_img = resize_image(path=(original_src_name ~ "." ~ extension), height=200, op="fit_height") -%}
{% endif -%}
{% set cls = classes | join(sep=" ") %}

<img src="{{ placeholder_img.url }}"
     data-name="{{ original_src_name }}"
     data-extension="{{ extension }}"
     data-count="{{ 1 }}"
     data-index="{{ 1 }}"
     alt="{{ preview_alt }}"
     data-alt="{{ [ preview_alt ] | json_encode }}"
     class="{{ cls }}">

