<!DOCTYPE html>
<html lang="en">
    <head>
        <title>keinegna.de - website for Kolja</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="KeineGna.de: Web development and Illustration by Kolja Wilcke, Berlin. Contact information, and social media links.">
        <meta name="author" content="Kolja Wilcke">
        <link rel="stylesheet" href="/site.css">
    </head>
    <body>
        <header>
            <img alt="Robots going into battle: They are carrying swords and come flooding out of the belley, down a ramp of a huge robot-behemoth who is holding out its arm like an order to attack. The background is in red and orange as if on fire." src="/img/robots.webp">
        </header>
        <nav>
            <a href="/">home</a>
            <a href="/contact">contact</a>
            <a href="/gallery">gallery</a>
            <a href="/blog/klebewal">blog</a>
        </nav>
        <section class="section">
            {% block content %} {% endblock %}
        </section>

        <script type="importmap">{
            "imports": {
                "three": "https://unpkg.com/three@0.152.2/build/three.module.min.js"
            }
        }</script>
        <script src="/overlay.js"></script>
    </body>
</html>
