{% extends "base.html" %}

{% block content %}
{% set section = get_section(path="blog/_index.md") %}
<div class="container">
    <aside class="sidebar">
        <ul>
            {% for page in section.pages %}
                <li>
                  <a href="{{ page.permalink }}"
                     class="{% if current_path == page.path %}active{% endif %}">
                    {{ page.title }}
                  </a>
                </li>
            {% endfor %}
        </ul>
    </aside>
    <div class="content">
      {% block doc_content %}
      {% endblock doc_content %}
    </div>
</div>
{% endblock content %}
