{% extends "base.html" %}

{% block content %}
    <h1>Hi there!</h1>
    <p>I'm Kolja, a freelance illustrator and software engineer with experience in Clojure and Rust.</p>
    <p>I am currently working on adding more recent projects and references and generally
        restructuring this website (which is now based on <a href="https://www.getzola.org" target="_blank">Zola</a>).<br>
        Stay tuned.
    </p>
    <p>
        Also: I am currently available for new projects: Now may be the best time for you to have me help
        you realize your vision. If you require software development or illustration work
        (or both), please feel free to <a href="javascript:window.location.href=atob('bWFpbHRvOmtvbGphQGFwZmVsLmRl')">reach out</a>.

    <h1>contact &amp; social media</h1>
    Twitter: <a href="https://twitter.com/01k" target="_blank">01k</a><br>
    GitHub: <a href="https://github.com/koljagithub.com/kolja" target="_blank">github.com/kolja</a><br>
    Stackoverflow: <a href="https://stackoverflow.com/users/731041/kolja" target="_blank">kolja</a><br>
    Phone: +49 (0) 175 59 59 161

    <h1>CV</h1>
    Here are pdfs with my CV in <a href="cv_en.pdf" target="_blank">English</a> and <a href="cv_de.pdf" target="_blank">German</a>

{% endblock content %}

