
{% extends "base.html" %}


{% block content %}
    <p>I'm Kolja, a freelance illustrator and software engineer with experience in Clojure and Rust.</p>
    <p>I am currently working on adding more recent projects and references and generally
        restructuring this website (which is now based on <a href="https://www.getzola.org" target="_blank">Zola</a>).<br>
        Stay tuned.
    </p>
    <p>
        Also: I am currently available for new projects: Now may be the best time for you to have me help
        you realize your vision. If you require software development or illustration work
        (or both), please feel free to <a href="javascript:window.location.href=atob('bWFpbHRvOmtvbGphQGFwZmVsLmRl')">reach out</a>.
{% endblock %}
